$color-primary: #FFFFFF;
$color-secondary: #02132D;
$color-tetriary: #006ED6;
$color-forth: rgba(6, 29, 65, 0.8);
$color-fifth: #01112A;
$color-sixth: rgba(1, 17, 42, 0.3);
$background-marker: #01122B;
$color-separator-primary: #263D61;
$global-width: 73em;
$gutters: 1.25em;
$font-primary: Sora;
$font-secondary: Montserrat;
$button-hover-primary: #006ed636;
$border-color-primary:rgba(255, 255, 255, 0.2);
$border-color-secondary: #263D61;