.button {
    display: inline-block;
    text-transform: capitalize;
    background: transparent;
    color: $color-primary;
    margin: 0;
    font-family: Lato;

    &:hover {
        background: transparent;
    }

    &-contact {
        padding: .5em 1em;
        border: 2px solid $color-primary;
        border-radius: .25em;
    }

    &-login {
        padding: .875em 1.125em;

    }

    &-choose {
        padding: 1.375em 1.5em 1.375em 1.375em;
        color: $color-tetriary;
        background: rgba(0, 110, 214, 0.09);
        font-weight: 700;
        font-size: 1.125em;
        border-radius: .5em;

        svg {
            margin-left: .5em;
        }
    }
}