.content-box {
    .image-wrapper {
        position: relative;

        img {
            width: 100%;
        }

        .image-marker {
            text-transform: capitalize;
            font-weight: 700;
            font-family: Sora;
            padding: .4em .75em .25em .75em;
            color: $color-primary;
            background: $background-marker;
            position: absolute;
            top: .75em;
            left: .75em;
            border-radius: .25em;
        }
    }

    &-location {

        &-city,
        &-date {
            display: block;
            color: rgba(6, 29, 65, .8);
            font-family: Sora;
            padding-bottom: .25em;

        }
    }

    &-description {
        font-size: 1.125em;
        color: rgba(6, 29, 65, .8);
        margin-bottom: 2em;

        @media(max-width: 45.85em) {
            font-size: 1em;
        }

    }

}