.content-box {
    .image-wrapper {
        position: relative;

        img {
            width: 100%;
        }

    }

    .badge {
        position: absolute;
        top: 0.75em;
        left: 0.75em;
    }

    &-location {

        &-city,
        &-date {
            display: block;
            color: $color-forth;
            font-family: Sora;
            padding-bottom: 0.25em;
        }
    }

    &-description {
        font-size: 1.125em;
        color: $color-forth;
        margin-bottom: 2em;

        @media (max-width: 45.85em) {
            font-size: 1em;
        }
    }

    &-vertical {
        display: flex;
        align-items: center;
        margin: 1.25em 1em 1.25em 0;

        .image-wrapper {
            max-width: 12.25em;
            max-height: 18.75em;
            margin-right: 2.5em;

            img {
                width: auto;
            }
        }
    }

    @media (max-width: 45.85em) {
        display: block;
    }
}
