.list {
    &-item {
        list-style: none;

        a {
            color: $color-primary;
            text-transform: capitalize;
            display: inline-block;
            font-family: Lato;
        }
    }
}