.section-events {
    padding: 6.95em 0 6.875em;
    background: $color-base;

    @media(max-width:45.85em) {
        padding: 2.95em 0 3em;
    }

    .button-transparent {
        margin-top: 3em;
    }

    .tab-controller {
        display: flex;

        @media(max-width: 45.85em) {
            display: block;
        }
    }

    .events-box {
        margin-top: 2.5em;

    }

}
