.site-footer {
    background: $color-secondary;
    padding-top: 5em;

    &-inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.875em;

        @media(max-width:40em) {
            flex-wrap: wrap;
        }
    }

    .site-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;



        .social-contacts {
            svg {
                margin-right: 1em;
            }
        }

        @media(max-width:40em) {
            margin-bottom: 2em;

            .social-contacts {
                margin-top: 2em;
            }
        }
    }

    .list-navigation {
        display: flex;
        flex-wrap: wrap;

        .list {
            margin: 0;

            @media(max-width:40em) {
                padding: 0;
            }

            & {
                margin-right: 2.5em;
            }

            &-item {
                a {
                    padding-bottom: 1.25em;
                    font-family: $font-secondary;
                    opacity: 0.6;
                }
            }
        }
    }

    &-copyrights {
        padding: 2em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $border-color-secondary;

        @media(max-width:45.85em) {
            justify-content: center;

            .list {
                padding: 0;
            }
        }

        &-text {
            font-family: $font-secondary;
            color: $color-primary;
            opacity: 0.6;

            @media(max-width:45.625em) {
                text-align: center;
                margin-bottom: 1em;
            }
        }

        .list {
            display: flex;
            margin: 0;
            flex-wrap: wrap;



            &-item {
                a {
                    text-decoration: underline;
                    color: $color-tetriary;
                    padding-right: 1.5em;
                    font-family: $font-secondary;

                }

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

            }
        }
    }

}
