.site-header {
    background: linear-gradient(180deg, #000F26 0%, #021533 124.22%);
    padding: .625em 0;
    position: relative;

    .site-logo {
        margin: 0 1.25em 0 0;

        a {
            display: inline-block;
            height: 2em;
            width: 7.5em;
            text-indent: -999em;
            background-image: url("../../../dist/images/Group.svg");
            background-size: contain;
            background-repeat: no-repeat;

        }
    }

    .vertical-line {
        height: 1.75em;
        margin-left: 1.25em;
    }

    &-inner {
        display: flex;
        align-items: center;
    }

    .list-wrapper {
        flex: 1 1 auto;

        .list-navigation {
            border-left: 1px solid $border-color-secondary;

            .list-item {
                padding: 0 1.25em;

                @media(max-width: 59.25em) {
                    padding: 0 0.5em;
                    font-size: .875em;
                }

                @media(max-width: 48.5em) {
                    padding: 0.125em;
                }
            }

            a {
                svg {
                    margin-right: .5em;
                    vertical-align: middle;
                }
            }
        }
    }

    .menu-close-icon {
        display: none;
    }
}

.toggle-menu {
    display: none;

    @media(max-width: 45.85em) {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        background: transparent;
        border: 0;
    }
}


@media(max-width: 45.85em) {

    .site-header {
        &-inner {
            justify-content: space-between;
        }

        .list-wrapper {
            display: none;

            .list-navigation {
                display: block;
                position: absolute;
                top: 100%;
                background: $color-secondary;
                width: 100%;
                left: 0%;

                .list-item {
                    padding: .875em 1em;
                    border-bottom: 1px solid $border-color-primary;
                }

                .list-item:first-child {
                    border-top: 1px solid $border-color-primary;
                }

                .list-item:last-child {
                    border-bottom: 0;
                }


            }
        }

        .list-navigation {
            .button {
                display: none;
            }
        }
    }
}
