.site-header {
    background: $color-secondary;
    padding: 1.375em 0;
    position: relative;

    .site-logo {
        height: 2em;
        max-width: 9.25em;
        margin-right: 1.25em;

        img {
            width: 100%;
        }
    }

    .vertical-line {
        height: 1.75em;
        margin-left: 1.25em;
    }

    &-inner {
        display: flex;
        align-items: center;


    }

    .list-wrapper {
        flex: 1 1 auto;

        .list {
            border-left: 1px solid #263D61;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            &-item {
                padding: 0 .625em;

                @media(max-width: 48.5em) {
                    padding: 0.125em;
                }
            }

            a {
                svg {
                    margin-right: .5em;
                    vertical-align: middle;
                }
            }
        }

        &-item:first-child {
            padding-left: 20px;
        }

    }

    .menu-close-icon {
        display: none;
    }
}

.mobile-button {
    display: none;

    @media(max-width: 45.85em) {
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
    }
}


@media(max-width: 45.85em) {

    .button-contact,
    .button-login {
        display: none;
    }

    .site-header {
        &-inner {
            justify-content: space-between;
        }

        .list-wrapper {
            display: none;

            .list {
                display: block;
                position: absolute;
                top: 100%;
                background: $color-secondary;
                width: 100%;
                left: 0%;

                &-item {
                    padding: .875em 1em;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }

                &-item:first-child {
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                }

                &-item:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}